body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslateblue;
}
.parent-container {
  position: relative;
  margin-top: 100px;
}
.parent-container::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 620px;
  height: 1px;
  margin-left: 8px;
  background-color: blue;
}
.container {
  position: relative;
  width: 620px;
  height: 320px;
  border-radius: 8px;
  border: 8px solid bisque;
  background-color: rgb(34, 33, 33);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 150px;
}
.container::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 500px;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: bisque;
}
.container::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 320px;
  background-color: blue;
}
.hourElement,
.minuteElement,
.secondElement {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: white;
}

.bottom {
  background-color: rgb(58, 56, 56);
  color: white;
}
